In [2]:
#How do I remove columns from a pandas DataFrame
import pandas as pd

In [3]:
# read a dataset of UFO reports into a DataFrame
ufo=pd.read_csv('ufo.csv')

In [4]:
ufo

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [8]:
#Remove a single column(axis=1, refer to columns)
ufo.drop('Colors Reported',inplace=True,axis=1)

In [9]:
ufo

                       City Shape Reported State              Time
0                    Ithaca       TRIANGLE    NY    6/1/1930 22:00
1               Willingboro          OTHER    NJ   6/30/1930 20:00
2                   Holyoke           OVAL    CO   2/15/1931 14:00
3                   Abilene           DISK    KS    6/1/1931 13:00
4      New York Worlds Fair          LIGHT    NY   4/18/1933 19:00
5               Valley City           DISK    ND   9/15/1934 15:30
6               Crater Lake         CIRCLE    CA    6/15/1935 0:00
7                      Alma           DISK    MI    7/15/1936 0:00
8                   Eklutna          CIGAR    AK  10/15/1936 17:00
9                   Hubbard       CYLINDER    OR    6/15/1937 0:00
10                  Fontana          LIGHT    CA   8/15/1937 21:00
11                 Waterloo       FIREBALL    AL    6/1/1939 20:00
12                   Belton         SPHERE    SC   6/30/1939 20:00
13                   Keokuk           OVAL    IA     7/7/1939 2:00
14                Ludington           DISK    MI    6/1/1941 13:00
15              Forest Home         CIRCLE    CA    7/2/1941 11:30
16              Los Angeles            NaN    CA    2/25/1942 0:00
17                Hapeville            NaN    GA    6/1/1942 22:30
18                   Oneida      RECTANGLE    TN    7/15/1942 1:00
19               Bering Sea          OTHER    AK   4/30/1943 23:00
20                 Nebraska           DISK    NE    6/1/1943 15:00
21                      NaN            NaN    LA    8/15/1943 0:00
22                      NaN          LIGHT    LA    8/15/1943 0:00
23                Owensboro      RECTANGLE    KY  10/15/1943 11:00
24               Wilderness           DISK    WV    1/1/1944 10:00
25                San Diego          CIGAR    CA    1/1/1944 12:00
26               Wilderness           DISK    WV    1/1/1944 12:00
27                   Clovis           DISK    NM    4/2/1944 11:00
28               Los Alamos           DISK    NM    6/1/1944 12:00
29             Ft. Duschene           DISK    UT   6/30/1944 10:00
...                     ...            ...   ...               ...
18211               Holyoke        DIAMOND    MA  12/28/2000 18:00
18212                Carson           DISK    CA  12/28/2000 18:20
18213              Pasadena       FIREBALL    CA  12/28/2000 19:10
18214                Austin      FORMATION    TX   12/29/2000 0:00
18215              El Campo          OTHER    TX   12/29/2000 9:00
18216          Garden Grove          LIGHT    CA  12/29/2000 16:10
18217         Berthoud Pass       TRIANGLE    CO  12/29/2000 19:30
18218            Sisterdale        DIAMOND    TX  12/29/2000 20:00
18219          Garden Grove        CHEVRON    CA  12/29/2000 20:30
18220           Shasta Lake           DISK    CA  12/29/2000 20:30
18221              Franklin           DISK    NH  12/29/2000 20:50
18222        Albrightsville          OTHER    PA  12/29/2000 21:00
18223            Greenville            NaN    SC  12/29/2000 22:00
18224               Eufaula           DISK    OK  12/29/2000 23:30
18225           Simi Valley      FORMATION    CA  12/30/2000 10:00
18226         San Francisco      FORMATION    CA  12/30/2000 22:00
18227         San Francisco       TRIANGLE    CA  12/30/2000 22:00
18228            Kingsville          LIGHT    TX   12/31/2000 4:00
18229               Chicago           DISK    IL  12/31/2000 11:45
18230           Pismo Beach           OVAL    CA  12/31/2000 20:00
18231           Pismo Beach           OVAL    CA  12/31/2000 20:00
18232                  Lodi            NaN    WI  12/31/2000 20:30
18233             Anchorage        VARIOUS    AK  12/31/2000 21:00
18234              Capitola       TRIANGLE    CA  12/31/2000 22:00
18235        Fountain Hills            NaN    AZ  12/31/2000 23:00
18236            Grant Park       TRIANGLE    IL  12/31/2000 23:00
18237           Spirit Lake           DISK    IA  12/31/2000 23:00
18238           Eagle River            NaN    WI  12/31/2000 23:45
18239           Eagle River          LIGHT    WI  12/31/2000 23:45
18240                  Ybor           OVAL    FL  12/31/2000 23:59

[18241 rows x 4 columns]

In [15]:
#Remove multiple column at once
ufo.drop(['Time','State'],inplace=True,axis=1)

In [16]:
ufo

                       City Shape Reported
0                    Ithaca       TRIANGLE
1               Willingboro          OTHER
2                   Holyoke           OVAL
3                   Abilene           DISK
4      New York Worlds Fair          LIGHT
5               Valley City           DISK
6               Crater Lake         CIRCLE
7                      Alma           DISK
8                   Eklutna          CIGAR
9                   Hubbard       CYLINDER
10                  Fontana          LIGHT
11                 Waterloo       FIREBALL
12                   Belton         SPHERE
13                   Keokuk           OVAL
14                Ludington           DISK
15              Forest Home         CIRCLE
16              Los Angeles            NaN
17                Hapeville            NaN
18                   Oneida      RECTANGLE
19               Bering Sea          OTHER
20                 Nebraska           DISK
21                      NaN            NaN
22                      NaN          LIGHT
23                Owensboro      RECTANGLE
24               Wilderness           DISK
25                San Diego          CIGAR
26               Wilderness           DISK
27                   Clovis           DISK
28               Los Alamos           DISK
29             Ft. Duschene           DISK
...                     ...            ...
18211               Holyoke        DIAMOND
18212                Carson           DISK
18213              Pasadena       FIREBALL
18214                Austin      FORMATION
18215              El Campo          OTHER
18216          Garden Grove          LIGHT
18217         Berthoud Pass       TRIANGLE
18218            Sisterdale        DIAMOND
18219          Garden Grove        CHEVRON
18220           Shasta Lake           DISK
18221              Franklin           DISK
18222        Albrightsville          OTHER
18223            Greenville            NaN
18224               Eufaula           DISK
18225           Simi Valley      FORMATION
18226         San Francisco      FORMATION
18227         San Francisco       TRIANGLE
18228            Kingsville          LIGHT
18229               Chicago           DISK
18230           Pismo Beach           OVAL
18231           Pismo Beach           OVAL
18232                  Lodi            NaN
18233             Anchorage        VARIOUS
18234              Capitola       TRIANGLE
18235        Fountain Hills            NaN
18236            Grant Park       TRIANGLE
18237           Spirit Lake           DISK
18238           Eagle River            NaN
18239           Eagle River          LIGHT
18240                  Ybor           OVAL

[18241 rows x 2 columns]

In [17]:
# remove multiple rows at once (axis=0 refers to rows)
ufo.drop([0,3,5],inplace=True,axis=0)
ufo

                       City Shape Reported
1               Willingboro          OTHER
2                   Holyoke           OVAL
4      New York Worlds Fair          LIGHT
6               Crater Lake         CIRCLE
7                      Alma           DISK
8                   Eklutna          CIGAR
9                   Hubbard       CYLINDER
10                  Fontana          LIGHT
11                 Waterloo       FIREBALL
12                   Belton         SPHERE
13                   Keokuk           OVAL
14                Ludington           DISK
15              Forest Home         CIRCLE
16              Los Angeles            NaN
17                Hapeville            NaN
18                   Oneida      RECTANGLE
19               Bering Sea          OTHER
20                 Nebraska           DISK
21                      NaN            NaN
22                      NaN          LIGHT
23                Owensboro      RECTANGLE
24               Wilderness           DISK
25                San Diego          CIGAR
26               Wilderness           DISK
27                   Clovis           DISK
28               Los Alamos           DISK
29             Ft. Duschene           DISK
30          South Kingstown         SPHERE
31              North Tampa       CYLINDER
32                  Ft. Lee          CIGAR
...                     ...            ...
18211               Holyoke        DIAMOND
18212                Carson           DISK
18213              Pasadena       FIREBALL
18214                Austin      FORMATION
18215              El Campo          OTHER
18216          Garden Grove          LIGHT
18217         Berthoud Pass       TRIANGLE
18218            Sisterdale        DIAMOND
18219          Garden Grove        CHEVRON
18220           Shasta Lake           DISK
18221              Franklin           DISK
18222        Albrightsville          OTHER
18223            Greenville            NaN
18224               Eufaula           DISK
18225           Simi Valley      FORMATION
18226         San Francisco      FORMATION
18227         San Francisco       TRIANGLE
18228            Kingsville          LIGHT
18229               Chicago           DISK
18230           Pismo Beach           OVAL
18231           Pismo Beach           OVAL
18232                  Lodi            NaN
18233             Anchorage        VARIOUS
18234              Capitola       TRIANGLE
18235        Fountain Hills            NaN
18236            Grant Park       TRIANGLE
18237           Spirit Lake           DISK
18238           Eagle River            NaN
18239           Eagle River          LIGHT
18240                  Ybor           OVAL

[18238 rows x 2 columns]