In [1]:
#When should I use a "groupby" in pandas
import pandas as pd

In [2]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [3]:
# calculate the mean beer servings across the entire dataset
drinks.beer_servings.mean()

106.16062176165804

In [4]:
# calculate the mean beer servings just for countries in Africa
drinks[drinks.continent=='Africa'].beer_servings.mean()

61.471698113207545

In [12]:
# calculate the mean beer servings for each continent
drinks.groupby('country').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
country,,,,
Afghanistan,0,0,0,0.0
Albania,89,132,54,4.9
Algeria,25,0,14,0.7
Andorra,245,138,312,12.4
Angola,217,57,45,5.9
Antigua & Barbuda,102,128,45,4.9
Argentina,193,25,221,8.3
Armenia,21,179,11,3.8
Australia,261,72,212,10.4
Austria,279,75,191,9.7
Azerbaijan,21,46,5,1.3
Bahamas,122,176,51,6.3
Bahrain,42,63,7,2.0
Bangladesh,0,0,0,0.0
Barbados,143,173,36,6.3
Belarus,142,373,42,14.4
Belgium,295,84,212,10.5
Belize,263,114,8,6.8
Benin,34,4,13,1.1
Bhutan,23,0,0,0.4
Bolivia,167,41,8,3.8
Bosnia-Herzegovina,76,173,8,4.6
Botswana,173,35,35,5.4
Brazil,245,145,16,7.2
Brunei,31,2,1,0.6
Bulgaria,231,252,94,10.3
Burkina Faso,25,7,7,4.3
Burundi,88,0,0,6.3
Cabo Verde,144,56,16,4.0
Cambodia,57,65,1,2.2
...,...,...,...,...
Sudan,8,13,0,1.7
Suriname,128,178,7,5.6
Swaziland,90,2,2,4.7
Sweden,152,60,186,7.2
Switzerland,185,100,280,10.2
Syria,5,35,16,1.0
Tajikistan,2,15,0,0.3
Tanzania,36,6,1,5.7
Thailand,99,258,1,6.4
Timor-Leste,1,1,4,0.1
Togo,36,2,19,1.3
Tonga,36,21,5,1.1
Trinidad & Tobago,197,156,7,6.4
Tunisia,51,3,20,1.3
Turkey,51,22,7,1.4
Turkmenistan,19,71,32,2.2
Tuvalu,6,41,9,1.0
USA,249,158,84,8.7
Uganda,45,9,0,8.3
Ukraine,206,237,45,8.9
United Arab Emirates,16,135,5,2.8
United Kingdom,219,126,195,10.4
Uruguay,115,35,220,6.6
Uzbekistan,25,101,8,2.4
Vanuatu,21,18,11,0.9
Venezuela,333,100,3,7.7
Vietnam,111,2,1,2.0
Yemen,6,0,0,0.1
Zambia,32,19,4,2.5
Zimbabwe,64,18,4,4.7

In [15]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
Africa,61.471698,16.339623,16.264151,3.007547
Asia,37.045455,60.840909,9.068182,2.170455
Europe,193.777778,132.555556,142.222222,8.617778
North America,145.434783,165.739130,24.521739,5.995652
Oceania,89.687500,58.437500,35.625000,3.381250
South America,175.083333,114.750000,62.416667,6.308333

In [16]:
# other aggregation functions (such as 'max') can also be used with groupby
drinks.groupby('continent').beer_servings.max()

continent
Africa           376
Asia             247
Europe           361
North America    285
Oceania          306
South America    333
Name: beer_servings, dtype: int64

In [19]:
# multiple aggregation functions can be applied simultaneously
drinks.groupby('continent').beer_servings.agg(['mean','max','count','min'])

                     mean  max  count  min
continent
Africa          61.471698  376     53    0
Asia            37.045455  247     44    0
Europe         193.777778  361     45    0
North America  145.434783  285     23    1
Oceania         89.687500  306     16    0
South America  175.083333  333     12   93

In [21]:
# specifying a column to which the aggregation function should be applied is not required
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
Africa,61.471698,16.339623,16.264151,3.007547
Asia,37.045455,60.840909,9.068182,2.170455
Europe,193.777778,132.555556,142.222222,8.617778
North America,145.434783,165.739130,24.521739,5.995652
Oceania,89.687500,58.437500,35.625000,3.381250
South America,175.083333,114.750000,62.416667,6.308333

In [22]:
drinks.groupby('continent').agg(['mean','count','max','min'])

              beer_servings                spirit_servings                 \
                       mean count  max min            mean count  max min
continent
Africa            61.471698    53  376   0       16.339623    53  152   0
Asia              37.045455    44  247   0       60.840909    44  326   0
Europe           193.777778    45  361   0      132.555556    45  373   0
North America    145.434783    23  285   1      165.739130    23  438  68
Oceania           89.687500    16  306   0       58.437500    16  254   0
South America    175.083333    12  333  93      114.750000    12  302  25

              wine_servings                total_litres_of_pure_alcohol        \
                       mean count  max min                         mean count
continent
Africa            16.264151    53  233   0                     3.007547    53
Asia               9.068182    44  123   0                     2.170455    44
Europe           142.222222    45  370   0                     8.617778    45
North America     24.521739    23  100   1                     5.995652    23
Oceania           35.625000    16  212   0                     3.381250    16
South America     62.416667    12  221   1                     6.308333    12


                max  min
continent
Africa          9.1  0.0
Asia           11.5  0.0
Europe         14.4  0.0
North America  11.9  2.2
Oceania        10.4  0.0
South America   8.3  3.8